@charset "UTF-8";
/*防止sass中注释报错*/
body {
  font-size: 62.5%;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 63px;
  background-color: #fff; }

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 640px;
  background-color: #29bde0; }

.head1 {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  letter-spacing: .1rem; }
  .head1 .head1-img, .head1 .back, .head1 .close1 {
    position: absolute;
    top: 50%;
    margin-top: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 0;
    outline: none;
    cursor: pointer; }
  .head1 .back {
    left: 5%;
    background: url(../images/back.png) no-repeat;
    background-size: 1.5rem; }
  .head1 .close1 {
    right: 5%;
    background: url(../images/close.png) no-repeat;
    background-size: 1.5rem; }

.head2 {
  position: relative; }

.music {
  background-color: #b9e9f5;
  height: 4rem; }

.tip {
  float: left;
  font-size: 1rem;
  letter-spacing: .1rem;
  padding-left: 10%;
  color: #464646;
  margin: 0;
  line-height: 4rem; }

.play {
  position: absolute;
  right: 5%;
  border: 0;
  margin-top: 1rem;
  display: inline-block;
  background: url(../images/play.png) no-repeat;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  outline: none;
  cursor: pointer; }

.tip1 {
  background-color: #29bde0; }

.pol {
  background: url(../images/pol.png) no-repeat;
  height: 1rem;
  background-size: 1rem;
  margin-top: -.1rem;
  margin-left: 12%; }

.small-tip {
  padding-bottom: 1rem;
  padding-left: 12%;
  letter-spacing: .1rem;
  font-size: 1rem;
  color: #F3F3F3; }

.content {
  background-color: #29bde0;
  padding-bottom: 140px;
  /*防止底部按钮遮挡内容*/ }

.content1 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /*父元素设置overflow后，可以清除子元素浮动，使content背景颜色正常显示，就是触发BFC*/ }

.content2 {
  margin: 1rem 4% 0;
  width: 25%;
  /*select必须在content的包裹内才能实现该功能；即鼠标滑过content的区域时，将select显示出来*/ }
  .content2:hover .select {
    opacity: 1; }

.content3 {
  border: 0.3rem solid #fff;
  cursor: pointer;
  /*更改鼠标样式为“手爪”*/ }

.name {
  margin: 0;
  padding: 20% 0;
  background-color: #f5c97b;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .1rem; }

.number {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #fff;
  text-align: center;
  background-color: #83b09a; }

.select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  opacity: 0; }

.vote {
  display: inline-block;
  width: 15%;
  padding: 10%;
  border: none;
  outline: none;
  cursor: pointer; }

.vote1 {
  background: url(../images/vote1.png) no-repeat left;
  background-size: 100%; }

.vote2 {
  background: url(../images/vote2.png) no-repeat left;
  background-size: 100%; }

.vote3 {
  background: url(../images/vote3.png) no-repeat left;
  background-size: 100%; }

.vote4 {
  background: url(../images/vote4.png) no-repeat left;
  background-size: 100%; }

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: 640px;
  background-color: #29bde0; }

footer {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center; }

.die1 {
  width: 80%;
  background-color: #fbb435;
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #fff;
  padding: 1rem 0;
  border: none; }

/*# sourceMappingURL=task13-2.css.map */
