@charset "utf-8";
/*防止sass中注释报错*/
$backgroundColor1: #29bde0;
$backgroundColor2: #74d4eb;
$backgroundColor3: #f0f0f0;
$backgroundColor4: #fff;
$backgroundColor5: #f7f7f7;
$fontColor1: #24a7c6;
$fontColor2: #fbb435;
$fontColor3: #787878;
$width: 640px;
body {
  font-size: 62.5%;
  max-width: $width;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 95px;
  background-color: $backgroundColor4;
}
@import "header";
header {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: $backgroundColor3;
  letter-spacing: .1rem;
  border-bottom: 1px solid $backgroundColor2;
  .head1-img {
    position: absolute;
    top: 50%;
    margin-top: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .back {
    @extend .head1-img;
    left: 5%;
    background: url(../images/page-up1.png) no-repeat;
    background-size: 1rem;
    height: 2rem;
    margin-top: -1rem;
  }
  .close1 {
    @extend .head1-img;
    right: 5%;
    background: url(../images/close.png) no-repeat;
    background-size: 1.5rem;
  }
}
.main {
  background-color: $backgroundColor3;
  overflow: hidden;
}
.days {
  padding: 1rem 0;
  width: 96%;
  color: $fontColor1;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  border: 1px solid #c9c9c9;
  text-align: center;
  background-color: $backgroundColor5;
  margin: 1rem auto 0;
}
.content {
  position: relative;
  margin: .5rem auto 0;
  width: 96%;
  background-color: $backgroundColor5;
  border: 1px solid #c9c9c9;
  .content1 {
    position: relative;
    margin: 3rem 2rem;
    .moon {
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 2rem;
      z-index: 50;
      background-color: $backgroundColor5;
      border-radius: 50%;
      border: 1px solid #c9c9c9;
      img {
        position: absolute;
        left:50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -12px;
        width: 1.2rem;
      }
    }
    .content2 {
      color: #fff;
      margin: 0 0 1rem 4rem;
      .content3 {
        text-align: center;
        background-color: $fontColor1;
        padding: .5rem 0;
        font-size: 1rem;
        letter-spacing: 1px;
        cursor: pointer;
      }
      .content-triangle {
        float: left;
        border-color: transparent $fontColor1 transparent transparent;
        border-style: solid;
        border-width: .5rem 1rem 0.5rem 0;
        margin-left: -1rem;
        margin-top: 2px;
      }
      .content4 {
        cursor: pointer;
        background-color: $fontColor1;
        .content-triangle {
          margin-top: 10px;
        }
        .sun {
          position: relative;
          float: left;
          margin-left: -4rem;
          width: 2rem;
          height: 2rem;
          z-index: 50;
          background-color: $backgroundColor5;
          border-radius: 50%;
          border: 1px solid #c9c9c9;
          img {
            position: absolute;
            left:50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
            width: 1.2rem;
          }
        }
        p {
          text-align: center;
          padding: .5rem 0;
          font-size: 1rem;
          letter-spacing: 1px;
          margin: 0;
        }
      }
    }
    .line {
      position: absolute;
      top: 0;
      left: 1rem;
      z-index: 1;
      width: 2px;
      height: 100%;
      background-color: #c9c9c9;
    }
  }
}
.die-color {
  color: #000;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
@import "footer";
footer {
  padding: 1rem 0;
  text-align: center;
}
.die1 {
  width: 40%;
  background-color: #fbb435;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: $backgroundColor3;
  padding: .5rem 0;
  border: none;
  cursor: pointer;
}