@charset "utf-8";
/*防止sass中注释报错*/
$backgroundColor1: #29bde0;
$backgroundColor2: #b9e9f5;
$backgroundColor3: #fff;
$backgroundColor4: #83b09a;
$fontColor1: #9a9a9a;
$fontColor2: #fbb435;
$fontColor3: #787878;
$width: 640px;
body {
  font-size: 62.5%;
  max-width: $width;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 4rem;
}
@import "header";
.game-over {
  position: relative;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: $backgroundColor3;
  letter-spacing: .1rem;
  border-bottom: 1px solid #74d4eb;
}
.head-page {
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.first-page {
  background: url(../images/first-page.png) no-repeat left;
  background-size: 100%;
  left: 5%;
}
.result-tip {
  background: url(../images/result-tip.png) no-repeat left;
  background-size: 100%;
  right: 5%;
}
.main {
  background-color: $backgroundColor1;
}
.win-page {
  text-align: center;
  img {
    width: 16rem;
    padding: 1rem 0;
  }
}
.nb-p {
  font-size: 1.5rem;
  color: #ffc865;
  padding: 0 10%;
  margin: 0 0 1rem 0;
}
.summary {
  font-size: 1rem;
  color: white;
  background-color: #29bde0;
  letter-spacing: .1rem;
  padding: 0 10%;
  margin-top: 1rem;
}
.summary p{
  margin: 0;
  padding-top: .5rem;
}
.day {
  padding: 0 10%;
  letter-spacing: .1rem;
  border-bottom: 1px solid #dddddd;
  background-color: $backgroundColor3;
  h3 {
    margin: 0;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: #515151;
    font-weight: normal;
  }
}
.time {
  display: inline-block;
  padding-left: 40%;
  font-size: .8rem;
  color: #c7c7c7;
  font-weight: normal;
  /*更改字体粗细的属性，有normal和bold属性值，也可以设置数值;100 对应最细的字体变形，900对应最粗的字体变形。数字 400 等价于 normal，而 700 等价于 bold。*/
}
.time1 {
  font-size: 1rem;
  color: #b3b3b3;
  margin: 0;
}
.content {
  background-color: $backgroundColor3;

}
@import "footer";
footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(41,189,224,0.5);
}
.foot {
  padding: 1rem 0;
  margin: 1rem 0;
  width: 40%;
  font-size: 1.5rem;
  color: $backgroundColor3;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
}
.over {
  background-color: #f66f6f;
}
.share {
  background-color: #fbb435;
}